/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/build/
/scripts/
/ext/khetai/dev/build/
/ext/khetai/dev/fltk-ui/build/
/ext/khetai/dev/fltk-ui/build_khetai/
.vscode
*.so
*.o
khet
