/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/scripts/
**/SDL3-wasm/
**/build/
**/build-wasm/
**/build_khetai/
**/.cache/
**/.clangd
**/compile_commands.json
/ext/khetai/dev/sdl-ui/commands.txt
.vscode
*.so
*.o
khet
